@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

* {
    box-sizing: border-box;
}
html, body {
    background-color: #649bec;
    margin: 0;
    padding: 0;
}
header{
    position: relative;
    z-index: 1;
}
.navBackground{
    background-image: url("Assets/Graphics/BetterHeaderWaves.svg");
    aspect-ratio: 900/300;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top:0px;
    z-index: 0;
}

.nav ul {
    margin: 0;
    text-align: center;
    max-height: 3em;
    overflow: hidden;
}
.nav li{
    display: inline;
}
.nav .navButton, .nav a {
    display: inline-block;
    padding: .5em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    text-decoration: none;
    font-family: 'Passion One', cursive;
    font-size: 25px;
    color: #160147;

    -webkit-transition: 500ms;
    transition: 500ms;
}

.nav a:hover{
    border-radius: 30px;
    padding-right: 1em;
    padding-left: 1em;
    background-color: #0d5cd3;

    -webkit-transition: 500ms;
    transition: 500ms;
}

section.mainSection{
    position: relative;
    z-index: 1;
    padding: 0;
    padding-right: 0em;
}
.mainSection .pageTitle{
    font-family: 'Fredoka One', cursive;
    font-weight: lighter;
    font-size: 25px;
    padding: 2em;
    padding-bottom: 0em;
}

.mainSection .sectionTitle{
    font-size: 55px;
    text-decoration: underline;
    margin: 0em;
}

.mainSection .page a{
    text-decoration: none;
    color: #000000;
}

.pageWrapper{
    padding-top: 2em;
    display: flex;
    width: 100%;
}

.page {
    flex-grow: 1;
    /* position: absolute; */
    background-color: #e4e4e4;
    width: 20rem;
    min-width: 10rem;
    height: 300px;
    border-radius: 30px;
    box-shadow: .3em .3em #c9c9c9;

    margin: 1em;
    transition: 500ms;
    -webkit-transition: 500ms;
}
.page:hover{
    margin-top: 4em;
    transition: 250ms;
    -webkit-transition: 250ms;
}
.page .pageTitle, p{
    margin: 0px;
    position: relative;
    text-align: center;
    padding-left: 20px;
    padding-right: 23px;
    padding-top: 5px;
    
    
}
.page p{
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;

    text-align: center;
    max-height: 280px;
    padding-top: .5em;

    font-family: 'Balsamiq Sans', cursive;
    font-size: 20px;
}

.page .pageTitle{
    padding-bottom: 0em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}